body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	background-color: #780E24;
}

.menu{
	background-color: #F45D24;
	color: white;
}
.header{
	background-color: #780E24;
	color: White;
	text-shadow: 2px 2px 2px #000;
	font-size: xx-large;
}
.contact{
	font-size:xx-small;
	color: White;
	text-shadow: 2px 2px 2px #000;
	text-align: right;
}
.spacer{
	background-image: url(graphics/spacer.PNG);
	background-repeat: repeat;	
}
.orderSum{
	color:white;
}
.options {
	visibility: hidden;
}
