/* ----------------------------------------------------------------
Browser style reset
-----------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ----------------------------------------------------------------
General stylesheet
-----------------------------------------------------------------*/
body {
  background-clip: border-box; 
  background-color: darkblue;
  background-image: url(../graphics/beach.jpeg);
  background-repeat: no-repeat;
  background-size: auto;
  color: #ffbf00;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  /*	background-color: #780E24; */
  /*  background-color: #ccffff; */
  /* color: cornsilk; */    
}

h1 {
  bottom: 50%;
  font-size: 32px;
  font-weight: bold;
  padding: 10px;
  margin: auto;
  text-align: center;
  top: 50%;  
  width: 80%;  
  /* --- used for testing purposes ---
  border: 1px solid black; */
}

h2 {
  color: rgb(255, 217, 24);
  display: block;
  font-size: 26px;
  font-weight: bold;
  margin: 10px 0;  
  text-align: center;
  /*color: orange; */
}

h3 {
  display: block;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  text-align: left;  
}

header {
  color: #ffbf00;
  display: block;
  position: absolute;
  text-shadow: 2px 1px 2px #005da4;
  width: 100%;  
  /*color: rgb(254, 245, 181);*/
  /* color: #b5e3fe; */
  /* color: #0185ea; */
  /* color: #cf9b00; */
  /*color: #ff9200;*/
}

/*
header img {
  float: left;
  display: inline;
  margin: 10px;
}
*/

#txtFName, #txtLName, #txtEmail, #txtAddress, #txtApartment, #txtCity, #txtState, #txtZip, #txtPhone {
  color:yellow;
  display: inline;  
  font-size: smaller;
  font-weight:bold;  
}

/* STYLES FOR THE IMAGE GALLERY ON THE HOME PAGE */
/*
.slide-image {
  width:750px;
  height:450px;
  border:2px solid #05609A;
  overflow:hidden;
  display: flex;
}
.slide-image img {
  display:none;
}
*/

.gallery {
  border: 5px white solid;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  width: 600px;
}

.images {
  height: 300px;
  margin: auto;
  width: 500px;
}

.container {
  align-items: center;
  background-color: rgb(0,75,133);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.previous, .next {
  background-color: rgb(0,75,133);
  border-radius: 5px;
  color: white;  
  font-size: 48px;
  margin: 20px;
  padding: 0 10px 10px 10px;
  /*  background-color: rgb(0,75,133); */
  /*  border: 1px solid red;*/
}

.previous:hover, .next:hover {
  background-color: #eee;
  color: rgb(0,75,133);
}

article p, main p {
  line-height: 24px;
  padding: 10px 0;  
/*  margin: auto; */  
}

#intro {
  display: flex;
  position: relative;
  z-index: -1;
}

legend {
  display: block;
  padding-left: 20px;
  padding-right: 5px;
}

fieldset {
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
}

.address {
  display: inline;
  font-size: 12px;
  float: right;
}

.wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 125px;
  width: 100%;  
  /* --- used for testing purposes ---
  border: 1px solid black; */
}

.info_block {
  display: flex;
  margin: 10px;
  /*	padding: 10px; */
  width: 100%;
}

/* #left {
  display: block;
  padding: 10px;
}
*/

.selections {
  border: 1px solid white;
}

input, select {
  margin: 10px 10px;
  padding: 10px;
  /*	border: 1px solid black; */
}

label {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
  padding: 20px 10px;
  /* --- used for testing purposes ---
  border: 1px solid black; */
}

nav {
  box-sizing: border-box;
  clear: both;
  float: left;
  padding: 10px;
  position: relative;
  width: 15%;
}

nav a {
  background-color: rgb(0,75,133);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #cf7600;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: 2px 2px 2px #cf7600;   
  /*	border: 1px solid green; */
  /*  box-shadow: 2px 2px 2px rgb(210, 118, 105);  */
  /*	color: rgb(126, 83, 133); */
  /*  rgb(2, 46, 61); */  
  /*	text-shadow: 2px 2px 2px rgb(210, 118, 105); */
}

nav a:hover {
  background-color: #ffbf00;
  color: rgb(0,75,133);
}

article {
  /* clear: both; */
  box-sizing: border-box;
  color: white;
  display: inline-flex;
  justify-content: space-around;
  margin: auto;
  opacity: 1;
  padding: 0 20px;
  width: 60%;
}

main {
  background-color: rgb(0,75,133);
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 10px;
}

#customerArticle, #summaryArticle {
  align-content: flex-start;
  display: inline-flex;
  flex-direction: column;
  margin-left: 10px;
  padding-left: 10px;
}

#contactArticle {
  display: flex;
  flex-direction: column;
}

/*
#summaryArticle {
  border: 1px solid white;
}
*/

/*
form {
  display: inline;
}
*/

aside {
  background-color: rgba(0,75,133,0.3);
  box-sizing: border-box;
  float: right;
  padding: 10px;
  position: relative;
  width: 25%;  
}

.cookieDisplay {
  align-content: space-between;
  align-items: center;
  border: 1px solid white;
  box-shadow: 2px 2px 2px rgb(210, 118, 105);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;  
  padding: 10px;
  position: relative;
  width: 100%;    
}

.travelDescription {
  margin-right: 50px;
}

.travelDescription, .priceSummary {
  display: flex;
  /* --- For testing purposes ---
  border: 1px solid red;
  */
}

.entryForm {
  border: 1px solid white;
  clear: both;
  display: flex;
  margin-top: 10px;
  position: relative;
  width: 100%;
}

.entryForm label {
  font-size: 16px;
  font-weight: 600;
  margin: 20px 20px 20px 0;
  padding: 20px 10px;
}

/*
.entryForm div {
  border: 1px solid red;
*/

/*
.menu{
  background-color: #F45D24;
  color: white;
}
*/
/*
.header{
  background-color: #780E24;
  color: White;
  text-shadow: 2px 2px 2px #000;
  font-size: xx-large;
}

.contact{
  font-size:xx-small;
  color: White;
  text-shadow: 2px 2px 2px #000;
  text-align: right;
}
*/

.orderSum, .icon {
  /*  color:slategray; */
  /*  color: yellow; */
  /*  color: rgb(254, 245, 181);*/
  color: #ffbf00;
}

.options {
  visibility: hidden;
}

.buildLabel {
	margin-bottom: 10px;
}

input[type=button], input[type=submit], button {
  /*background-color: #ffbf00; */
  /*background-color: #4CAF50; */
  /*background-color: #005da4;*/
  /*background-color: rgb(0,75,133);*/
  /*background-color: #6693b5;*/
  /*background-color: #ccdbe6;*/
  /*background-color: #4c81a9;*/
  /*border: 1px solid rgb(0,75,133);*/
  /*box-shadow: 2px 2px 2px #ffbf00;*/
  /*color: rgb(0,75,133);*/
  /*padding: 16px 32px;*/  
  border: 1px solid #888;
  background-color: #dfdfdf;
  border-radius: 5px;  
  color: black;
  cursor: pointer;
  font-weight: 600;
  margin: 4px 2px;
  padding: 10px;
  text-decoration: none;
}

input[type=button]:hover, input[type=submit]:hover, button:hover {
  background-color: #efefef;
}

.icon {
  display: none;
}

/*-----------------------------------------------------
Styles for Tables
-----------------------------------------------------*/
th, td {
  margin: 10px;
  max-width: 300px;
  padding: 10px;
}

.table-summary {
  border-top-color: #fff;
  -moz-border-top-colors: #fff;
  border-top-style: solid;
  border-top-width: 1px;
}

/* ----------------------------------------------------
Styles for accordion menu , if I can ever get it to
work :/
------------------------------------------------------*/
button.accordion {
  background-color: #eee;
  border: none;
  color: #444;
  cursor: pointer;
  font-size: 15px;
  outline: none;
  padding: 18px;
  text-align: left;
  transition: 0.4s;
  width: 100%;  
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*-----------------------------------------------------
Responsive design - styles for smaller screens
-----------------------------------------------------*/
@media only screen and (max-width: 1295px) {
	header {
	  display: flex;
	  flex-direction: column;
	}

	.address, h1 {
	  margin: auto;
	  text-align: center;
	  width: 100%;    
	}

	/*
	#Name, #Address {
		display: flex;
		flex-direction: column;
	}
	*/
}

@media only screen and (max-width: 865px) {

	.wrapper {
    display: flex;
	  flex-direction: column;
      /* -- Used for testing purposes --
	  border: 1px solid red;
	  */
	}

	nav {
	  align-items: center;
	  box-sizing: border-box;
	  clear: both;
	  display: flex;
	  flex-direction: row;
	  order: 0;
	  padding: 10px;
	  position: absolute;
	}

	nav a {
	  align-content: center;
	  display: flex;
	  flex-direction: row;
	  margin: 10px auto;
	  padding: 10px;
	}

	article, main {
	  clear: none;
	  margin-top: 75px;
	}

	aside {
    align-items: space-between;
	}

	#priceSum {
	  margin-left: auto;
  }

	article, main, aside, nav {
    display: flex;
	  width: 100%;
    /* -- Used for testing purposes --
	  border: 1px solid green;
	*/
	}

	.selections, .specialty {
	  align-items: center !important;
    display: flex !important;
	  flex-flow: row wrap;
	}
}

@media only screen and (max-width: 375px) {
  .buildLabel {
	display: flex;
	}

  label {
	margin: 10px;
	padding: 0;
  }

  h1 {
    font-size: 28px;
  }
  h2 {
    z-index: 0;
  }
  .wrapper {
	  margin: auto !important;
	  max-width: 375px !important;
	  min-width: 220px !important;
    top: 150px !important;    
	  width: 100% !important;
  }

  article, main {
    padding: 0 5px;
  }

  nav a:not(:first-child) {
    display: none;
  }

  nav a.icon {
	  display: block;
    float: right;
  }

  nav.responsive {
    /*	position: relative; */
	  display: flex;
	  flex-direction: column;
	  background-color: #002949;
	  opacity: 0.95;
    z-index: 100;
  }

  nav.responsive a.icon {
    position: absolute;
	  right: 0;
	  top: 0;
  }

  nav.responsive a {
	  display: block;
    float: none;
    margin: 0;
	  opacity: 1;
	  text-align: left;
    z-index: 100;
  }
}

@media only screen and (max-width: 275px) {
  .wrapper {
    top: 190px !important;
  }
}